/*
 *	@template	all
 */
a:focus {
	outline: none;
}

/*
 *	@template	index.html
 */

.loading-message {
	width: 100%;
	height: 100%;
	justify-content:center;
	display:flex;
	align-items:center;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	position: absolute;
	z-index: 100;
}

.fading-text {
	animation: fadeOut 1s linear;
}

@keyframes blinker {  
  30% { opacity: 0; }
}

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
} 

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;} 
} 

 /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.disable-backdrop-background {
		background-color: transparent !important;
	}

	#mobile-jyutping-table-layer {
		min-width: 100%;	
		animation: fadeIn 1s linear;
	}

	#mobile-jyutping-table-layer table{
		table-layout: fixed;
		width: 100%;
	}

	#mobile-jyutping-table-layer td {
		text-align: center;
		border: 1px solid white;
		color: white;
	}

	#mobile-jyutping-table-layer td div {
		background-color: #d41b14;
		padding: 20px;
		width: 100%;
		height: 100%;
	}

	#mobile-jyutping-table-layer td div:hover {
		background-color: #f41b14;
	}

	#mobile-jyutping-table-layer td div:active {
		background-color: #a41b14;
	}

	#mobile-jyutping-table-layer a {
		color: white;
		display: block;
		width: 100%;
	}

	#mobile-jyutping-table-layer a:hover {
		text-decoration: none;
	}

	#jyutping-table-layer {
		display: none;
	}
}

@media only screen and (min-width : 768px) {
	#jyutping-table-layer {
		width: 1px;
		min-width: 100%;
		animation: fadeIn 1s linear;
	}

	#mobile-jyutping-table-layer {
		display: none;
	}
}

/*
 *	@template	jyutping.html
 */

td, th {
	min-width: 75px;
	min-height: 40px;
	background-color: white;
	font-family: "Crimson Text", sans-serif;
	font-size: 18px;
}

button {
	outline: none !important;
}

a {
	color: #887d7e;
}

#jyutping-initials {
	margin-bottom: 0px;
	height: 40px;
}

.fixed-initials-row {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.fixed-initials-row th, .fixed-initials-column  {
	background-color: #e41b14;
	color: white;
	font-family: "Crimson Text", sans-serif;
}

#jyutping-body {
	position: relative;
	top: 2px;
	left: 75px;
	z-index: 10;
	margin-bottom: 0px;
}

#jyutping-finals {
	width: 40px;
	position: fixed; 
	top: 0px;
	left: 0px;
	z-index: 50;
	margin-bottom: 0px;
}

/**
 *	@template	JyutpingModal.html
 */
#individual-sound {
	width: 100%;
	min-height: 150px;
	font-size: 48px;
	margin: 20px 0px;
	padding: 30px;
	text-align: center;
}

#sample-word {
	width: 100%;
	min-height: 150px;
	margin: 20px 0px;
	padding: 30px;
	text-align: center;
}

#sample-chinese {
	font-size: 48px;
	/*font-weight: bold;*/
}

#sample-jyutping, #sample-english {
	font-size: 30px;
}

.jyutping-empty-modal p {
	font-size: 30px;
	padding: 70px 0px;
	margin: auto;
	text-align: center;
}

.jyutping-empty-modal p span {
	font-weight: bold;
}

.modal-style {
	padding: 0px 20px;
	font-family: "Crimson Text", "STKaiti", "cwTeXKai", sans-serif;
	/*font-family: "Crimson Text", "Noto Sans TC", sans-serif;*/
	
}

.modal-style a {
	color: #333333;
	text-decoration: none;
	font-size: 70px;
}

.modal-style a:hover {
	color: #636363;
	text-decoration: none;
}

.modal-style a:active {
	color: #8e8e8e;
	text-decoration: none;
}

.center-in-div {
	text-align: center;
}

.button-right {
	text-align: right;
}

.jyutping-tones {
	float: right;
}

.tones-tooltip-position {
	right: 5px;
	font-size: 15px;
}

.individual-tooltip-position {
	top: -5px;
	left: -5px;
	font-size: 15px;
}

.word-tooltip-position {
	top: -5px;
	left: 5px;
	font-size: 30px;
}

.modal-header-style {
	background-color: #e41b14;
	color: white;
	padding: 10px 20px 20px 20px;
	margin: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 20px;
}

.btn[disabled] {
	opacity: 1;
	background: rgb(222, 222, 222);
}

.cantolounge-logo {
	float: left;
	height: 30px;
	margin-top: -5px;
}

.function-buttons-row {
	margin-bottom: 20px;
}

.btn-default[disabled]:hover {
	background-color: #eaeaea;
}
